










































































.ting-ting {
max-width: 30%;
max-height: 30%;
border-radius: 50%;
}

.anthony {
  max-width: 30%;
  max-height: 30%;
  border-radius: 50%;
}

.josh {
  max-width: 30%;
  max-height: 30%;
  border-radius: 50%;
}

.github {
  border-radius: 50%;
}
